:root, [data-bs-theme=light] {
  --bs-primary: #E66232;
  --bs-primary-rgb: 230,98,50;
  --bs-primary-text-emphasis: #5C2714;
  --bs-primary-bg-subtle: #FAE0D6;
  --bs-primary-border-subtle: #F5C0AD;
  --bs-secondary: #E8D8C4;
  --bs-secondary-rgb: 232,216,196;
  --bs-secondary-text-emphasis: #5D564E;
  --bs-secondary-bg-subtle: #FAF7F3;
  --bs-secondary-border-subtle: #F6EFE7;
  --bs-body-color: #6B240C;
  --bs-body-color-rgb: 107,36,12;
  --bs-body-bg: #E8D8C4;
  --bs-body-bg-rgb: 232,216,196;
  --bs-secondary-bg: #E8D8C4;
  --bs-secondary-bg-rgb: 232,216,196;
  --bs-secondary-color: rgba(107,36,12,0.75);
  --bs-secondary-color-rgb: 107,36,12,0.75;
  --bs-tertiary-color: rgba(107,36,12,0.5);
  --bs-tertiary-color-rgb: 107,36,12,0.5;
  --bs-body-font-family: Aldrich, sans-serif;
  --bs-link-color: #E66232;
  --bs-link-color-rgb: 230,98,50;
  --bs-link-hover-color: #A63D17;
  --bs-link-hover-color-rgb: 166,61,23;
  --bs-link-decoration: none;
  --bs-link-hover-decoration: none;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #E66232;
  --bs-btn-border-color: #E66232;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #EA7A51;
  --bs-btn-hover-border-color: #E97247;
  --bs-btn-focus-shadow-rgb: 35,15,8;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #EB815B;
  --bs-btn-active-border-color: #E97247;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #E66232;
  --bs-btn-disabled-border-color: #E66232;
}

.btn-outline-primary {
  --bs-btn-color: #E66232;
  --bs-btn-border-color: #E66232;
  --bs-btn-focus-shadow-rgb: 230,98,50;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #E66232;
  --bs-btn-hover-border-color: #E66232;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #E66232;
  --bs-btn-active-border-color: #E66232;
  --bs-btn-disabled-color: #E66232;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #E66232;
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #E8D8C4;
  --bs-btn-border-color: #E8D8C4;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #EBDECD;
  --bs-btn-hover-border-color: #EADCCA;
  --bs-btn-focus-shadow-rgb: 35,32,29;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #EDE0D0;
  --bs-btn-active-border-color: #EADCCA;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #E8D8C4;
  --bs-btn-disabled-border-color: #E8D8C4;
}

.btn-outline-secondary {
  --bs-btn-color: #E8D8C4;
  --bs-btn-border-color: #E8D8C4;
  --bs-btn-focus-shadow-rgb: 232,216,196;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #E8D8C4;
  --bs-btn-hover-border-color: #E8D8C4;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #E8D8C4;
  --bs-btn-active-border-color: #E8D8C4;
  --bs-btn-disabled-color: #E8D8C4;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #E8D8C4;
}

a {
  text-decoration: var(--bs-link-decoration);
}

a:hover {
  text-decoration: var(--bs-link-hover-decoration);
}

[data-bs-theme=dark] {
  --bs-primary: #E66232;
  --bs-primary-rgb: 230,98,50;
  --bs-primary-text-emphasis: #F0A184;
  --bs-primary-bg-subtle: #2E140A;
  --bs-primary-border-subtle: #8A3B1E;
  --bs-body-color: #F4CCA0;
  --bs-body-color-rgb: 244,204,160;
  --bs-body-bg: #26070A;
  --bs-body-bg-rgb: 38,7,10;
  --bs-secondary-bg: #26070A;
  --bs-secondary-bg-rgb: 38,7,10;
  --bs-tertiary-bg: #26070A;
  --bs-tertiary-bg-rgb: 38,7,10;
  --bs-secondary-color: rgba(244,204,160,0.75);
  --bs-secondary-color-rgb: 244,204,160,0.75;
  --bs-tertiary-color: rgba(244,204,160,0.5);
  --bs-tertiary-color-rgb: 244,204,160,0.5;
  --bs-link-color: #E66232;
  --bs-link-color-rgb: 230,98,50;
  --bs-link-hover-color: #BF7D2C;
  --bs-link-hover-color-rgb: 191,125,44;
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #E66232;
  --bs-btn-border-color: #E66232;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #EA7A51;
  --bs-btn-hover-border-color: #E97247;
  --bs-btn-focus-shadow-rgb: 35,15,8;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #EB815B;
  --bs-btn-active-border-color: #E97247;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #E66232;
  --bs-btn-disabled-border-color: #E66232;
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: #E66232;
  --bs-btn-border-color: #E66232;
  --bs-btn-focus-shadow-rgb: 230,98,50;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #E66232;
  --bs-btn-hover-border-color: #E66232;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #E66232;
  --bs-btn-active-border-color: #E66232;
  --bs-btn-disabled-color: #E66232;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #E66232;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.mt-1 {
  margin-top: .25rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.me-1 {
  margin-right: .25rem !important;
}

.me-3 {
  margin-right: 1rem !important;
}

.me-5 {
  margin-right: 3rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: .25rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.ms-3 {
  margin-left: 1rem !important;
}

.ms-5 {
  margin-left: 3rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: .25rem !important;
}

@media (min-width: 768px) {
  .mb-md-0 {
    margin-bottom: 0rem !important;
  }
}

@media (min-width: 992px) {
  .mt-lg-1 {
    margin-top: 0.25rem !important;
  }
}

@media (min-width: 992px) {
  .py-lg-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

