.my-5 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.bg-body {
  --bs-bg-opacity: 1;
  font-size: 20px;
  background-color: rgba(var(--bs-body-bg-rgb), var(--bs-bg-opacity)) !important;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0.16rem;
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: 26px;
  text-decoration: none;
  white-space: nowrap;
  font-weight: bold;
}

.nav-link:hover {
  font-size: 24px;
  font-weight: bold;
  color: var(--bs-navbar-brand-hover-color);
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-navbar-brand-hover-color);
  text-decoration: none;
  background: none;
  border: 0;
  transition: all 0.1s;
}

@media (min-width: 768px) {
  .navbar {
    height: 3em;
  }
}

.navbar-brand:hover, .navbar-brand:focus {
  color: rgba(230,98,50,1);
}

@media (min-width: 768px) {
  .nav-item {
    align-self: center !important;
  }
}

.navbar-nav {
  align-items: center;
  display: flex;
  align-content: center;
}

.nav-item {
  align-self: start;
}

.nav-link:focus {
  font-size: 24px;
  font-weight: bold;
  color: rgba(230,98,50,1) !important;
}

.link-back {
  display: inline-flex;
  align-items: center;
}

